@import './base.css';

#app {
  max-width: 1280px;
  /* margin: 0 auto; */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}
#text_body {
  overflow: auto !important;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.wrapper {
  height: 75vh;
  width: 100vw;
  display: block;
}

.ap_header {
  z-index: 100;
  position: relative;
  place-content: center;
  display: flex;
  place-items: center;
  width: 100vw;
  padding: 2rem 2rem;
  background: var(--color-background);
}

.ap_body {
  display: flex;
  place-content: center;
  height: auto;
  place-items: center;
  padding: 0 2rem;
  width: 100vw;
  height: 75vh;
}
.server_info, .error_message {
  display: grid;
  place-content: center;
}

.ap_header button {
  height: 5vh;
}
.chat_form {
  position: absolute;
  bottom: -4vh;
}
.disconnect_button {
  position: absolute;
  bottom: -7vh;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    width: 100vw;
    max-width: 100vw;
  }

  .ap_header {
    z-index: 100;
    position: fixed;
    place-content: center;
    display: flex;
    place-items: center;
    width: 100vw;
    padding: 0 2rem;
  }

  .ap_body {
    display: flex;
    place-content: center;
    height: 100vh;
    place-items: center;
    padding: 0 2rem;
    width: 100vw;
    /* height: 80vh; */
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  .ap_header button {
    height: 5vh;
  }
  .wrapper {
    height: 80vh;
  }

}
