@import './base.css';

#app {
  max-width: 1280px;
  min-height: 445px;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
header {
  line-height: 1.5;
  /* text-shadow: 3px 3px 3px #AF99EF; */
  text-shadow: 1px 0px 1px #AF99EF, 0px 1px 1px var(--ap-magenta), 2px 1px 1px var(--ap-cyan), 1px 2px 1px var(--ap-magenta), 3px 2px 1px var(--ap-cyan), 2px 3px 1px var(--ap-magenta), 4px 3px 1px var(--ap-cyan), 3px 4px 1px var(--ap-magenta), 5px 4px 1px var(--ap-cyan), 4px 5px 1px var(--ap-magenta), 6px 5px 1px var(--ap-cyan), 5px 6px 1px var(--ap-magenta), 7px 6px 1px var(--ap-cyan), 6px 6px 7px rgba(238,0,238,0);
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 4.5vw;
  color: white;
}
footer {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100vw;
  font-size: 10px;
}
header span h1 {
  top: 11vh;
}
.logo {
  display: block;
  margin: 0 auto 2rem;
}
#text_body, #received_body {
  overflow: auto !important;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-left: 5vw;
  padding-right: 5vw;
}
.text_loop, .received_items, .received_hints {
  border-bottom: 1px solid #2d2b2b;
}
.text_loop span, .received_hints span, .received_items span {
  word-wrap: break-word;
}
/* Component Body */
.wrapper {
  height: 75vh;
  width: 100vw;
  display: block;
}
/* Header */
.ap_header {
  z-index: 100;
  position: relative;
  place-content: center;
  display: flex;
  place-items: center;
  width: 100vw;
  padding: 2rem 2rem;
  background: var(--color-background);
}
.ap_header span {
  display: grid;
  gap: 0px;
  grid-auto-flow: column;
}
.ap_button {
  height: 5vh;
  border: 1px solid var(--ap-slateblue);
  background: var(--vt-c-black);
  color: white;
  min-height: 1.5rem;
  
  /* padding-right: 3vw;
  padding-left: 3vw; */
}
.ap_header .ap_button {
  padding-right: 3vw;
  padding-left: 3vw;
}
.ap_button:hover, .ap_button:active {
  cursor: pointer;
  background-color: var(--ap-plum);
}
.ap_body {
  display: flex;
  place-content: center;
  height: auto;
  place-items: center;
  padding: 0 2rem;
  width: 100vw;
  height: 75vh;
}

.ap_input {
  /* background-color: var(--vt-c-black);
  color: white; */
  border-color: var(--ap-slateblue);
  height: 4vh;
}
.chat_form input {
  border-color: var(--ap-slateblue);
}
.ap_connect_button {
  height: 4vh;
}
.server_info, .error_message, .connecting_message {
  display: grid;
  place-content: center;
}
.error_message {
  color: red;
}
.connecting_message {
  color: green;
}
.chat_form {
  position: absolute;
  bottom: -3vh;
  padding-left: 5vw;
}
.chat_form input {
  width: 71vw;
  height: 3vh;
  min-height: 1.5rem;
}
.chat_form button {
  width: 20vw;
  height: 3vh;
  min-height: 1.5rem;
}
.ap_disconnect_button {
  position: absolute;
  bottom: -8vh;
  height: 4vh;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 25vw;
  place-content: center;
  display: flex;
}
.ap_disconnect_button button, .ap_connect_button button {
  height: 4vh;
  width: 7rem;
}
.ap_connect_button {
  display: flex;
  place-content: center;
}
.ap_connect_button, .ap_disconnect_button {
  min-height: 1.5rem;
}
.scroll_button {
  position: absolute;
  bottom: 1vh;
  right: 2vw;
  fill: white;
}
.scroll_button:hover, .scroll_button:active {
  fill: var(--ap-magenta);
}

/* AP color classes */
.currentPlayer {
  color: var(--ap-magenta);
}
.otherPlayer {
  color: var(--ap-yellow);
}
.otherPlayer .showGameName {
  visibility: hidden;
  width: 120px;
  background-color: var(--vt-c-black);
  color: var(--ap-white);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  right: -1vw;
  bottom: 2vh;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.otherPlayer:hover .showGameName {
  visibility: visible;
}
.otherPlayer:hover .showGameName:hover {
  visibility: hidden;
}
.location {
  color: var(--ap-green);
}
.default {
  color: var(--ap-white);
  white-space: pre-line;
}
.normalItem {
  color: var(--ap-cyan);
}
.trapItem {
  color: var(--ap-salmon);
}
.progressiveItem {
  color: var(--ap-plum);
}
.usefulItem {
  color: var(--ap-slateblue);
}
.entrance {
  color: var(--ap-blue);
}

/* Recieved Items Section */
.received_items {
  columns: 2 auto;
  column-gap: 0px;
}
.received_items span {
  display: block;
}
.received_items .default {
  text-align: right;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* Desktop Styles */
@media (min-width: 1024px) {
  header {
    font-size: 3rem;
  }
  .ap_header button {
    height: 5vh;
  }
  .logo {
    margin: 0 2rem 0 0;
  }
}
@media (max-height: 780px) {
  footer {
    text-align: left;
    font-size: 6px;
  }
  .ap_connect_button button {
    font-size: 10px;
  }
}
