@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

.APheader {
  z-index: 100;
  position: absolute;
  place-content: center;
  display: flex;
  place-items: center;
  width: 100vw;
  padding: 2rem 2rem;
  background: var(--color-background);
}

.APbody {
  display: flex;
  place-content: center;
  height: 100vh;
  place-items: center;
  padding: 0 2rem;
  width: 100vw;
}

.APheader button {
  height: 5vh;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    width: 100vw;
  }

  .APheader {
    z-index: 100;
    position: absolute;
    place-content: center;
    display: flex;
    place-items: center;
    width: 100vw;
    padding: 0 2rem;
  }

  .APbody {
    display: flex;
    place-content: center;
    height: 100vh;
    place-items: center;
    padding: 0 2rem;
    width: 100vw;
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  .APheader button {
    height: 5vh;
  }

}
